<template>
    <div id="app">
        <ticket-main-navigation></ticket-main-navigation>
        <section id="main-section" class="container">
            <div class="container-fluid">
                <transition name="component-fade" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div><!-- end of .container -->
        </section>
    </div> <!-- end of #app -->
</template>

<script>
    export default {
        name: 'app'
    }
</script>

<style>
    #app {
        height: 250vh;
        width: 100vw;
        background-color: red;
        background: url("./assets/img/rainy_day.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .component-fade-enter-active, .component-fade-leave-active {
        transition: opacity .3s ease;
    }

    .component-fade-enter, .component-fade-leave-to {
        opacity: 0;
    }
</style>
