<template>
    <div id="navbar" class="navbar navbar-inverse navbar-default" role="navigation">

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-main-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="../assets/img/brand.png">
                </a>
            </div>

            <div id="app-main-navigation" class="navbar-collapse collapse sidebar-navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><router-link to="/ticket-list">Tickets</router-link></li>
                    <!--li><router-link to="/reports">Reports</router-link></li-->
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <!--li><router-link to="/user">Users</router-link></li-->
                            <li role="separator" class="divider"></li>
                            <li><router-link to="/area">Areas</router-link></li>
                            <li><router-link to="/priority">Priorities</router-link></li>
                            <li><router-link to="/status">Statuses</router-link></li>
                            <li><router-link to="/category">Categories</router-link></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</template>

<script>

</script>

<style scoped>

</style>
