<template>
    <ticketr-settings-helper :settings-label="message"
                             :data-url="apiUrl">
        <template slot="input-icon">
            <span class="input-group-addon glyphicon glyphicon-inbox" aria-hidden="true" id="basic-addon-priority"></span>
        </template>
    </ticketr-settings-helper>
</template>

<script>
    import SettingsHelper from './SettingsHelper.vue'

    export default {
      data: function () {
        return {
          message: 'Priority',
          apiUrl: '/api/priorities'
        }
      },

      components: {
          'ticketr-settings-helper' : SettingsHelper
      }
    }
</script>

<style>

</style>


