<template>
    <div>
        <div class="row">
            <section class="col-md-6 col-md-offset-3">
                <form v-on:submit.prevent="store()">
                    <div class="form-group">
                        <div class="input-group">
                            <slot name="input-icon"><span class="input-group-addon glyphicon glyphicon-asterisk" aria-hidden="true" id="basic-addon-item"></span></slot>
                            <input id="item" v-model="newItem.name" name="newItem" type="text" class="form-control" :placeholder="settingsLabel" />
                        </div>
                        <button id="btn-submit-add-form" type="submit" class="btn btn-primary btn-block">Add</button>
                    </div>
                </form>
            </section><!-- col -->
        </div> <!-- row item form -->

        <div class="row">
            <section class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                  <li class="list-group-item" v-for="item in items" :key="item.id">
                    <span>{{ item.name }}</span>
                    <span class="pull-right"><button id="btn-del-item" class="btn btn-danger btn-xs" @click="remove(item.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></span>
                  </li>
                </ul>
            </section>
        </div> <!-- row item list -->
    </div>
</template>

<script>
    import axios  from 'axios';
    //axios.defaults.baseURL = 'http://localhost:8080';
    axios.defaults.headers.post['Content-Type'] = 'application/json';
    export default {
        data: function() {
            return {
                items: [],
                newItem : {
                    id :   '',
                    name : ''
                }
            }
        },

        props: [ 'settingsLabel', 'dataUrl' ],

        mounted: function() {
          this.fetch();
        },

        updated: function() {
          this.fetch();
        },

        methods: {
              fetch: function() {
                  const outer = this;
                  axios.get(outer.dataUrl)
                      .then(function (response) {
                          outer.items = response.data;
                      })
                      .catch( function(error) {
                          console.log(error);
                      });
              },
              store: function() {
                  const jsonArea = JSON.stringify(this.newItem);
                  axios.post(this.dataUrl, jsonArea)
                      .then(function (response) {
                          console.log(response);
                      })
                      .catch(function (error) {
                          console.log(error);
                      });
                      this.newItem.id = '';
                      this.newItem.name = '';
              },
              remove: function(id) {
                  axios.delete(this.dataUrl + '/' + id)
              },
              onSuccess: function(res) {
                  console.log("success: " + res);
              },
              onError: function(err) {
                  console.log("error: " + err);
              }
        }
    }
</script>

<style>

</style>
