<template>
<div>
    <!--div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>  #.input-group
        </div> #.col
    </div row-->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Tickets</h1>
                    <div class="panel-body">
                        <router-link class="btn btn-success pull-right" to="/ticket-add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Ticket</router-link>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                      <thead>
                          <tr>
                              <th class="col-sm-3">User</th>
                              <th>Title</th>
                              <th>Status</th>
                              <th>Category</th>
                              <th>Reported On</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr :class="{ info: ticket.resolved }" v-for="ticket of tickets">
                            <td>{{ ticket.user.name + " " + ticket.user.lastname }}</td>
                            <td>{{ ticket.title }}</td>
                            <td>{{ ticket.status }}</td>
                            <td>{{ ticket.category }}</td>
                            <td>{{ ticket.reportedAt }}</td>
                            <td>
                                <router-link class="btn btn-primary btn-xs" v-bind:to="'/ticket-edit/' + ticket.id"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></router-link>
                                <button id="btn-del-item" class="btn btn-danger btn-xs" @click="deleteTicket(ticket.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div> <!-- /table-responsive -->
            </div>
        </div>
    </div>
    <!--div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div> #.text-center
        </div> #.col
    </div #.row-->
</div>
</template>

<script>
    import axios  from 'axios'
    //axios.defaults.baseURL = 'http://localhost:8080';
    axios.defaults.headers.post['Content-Type'] = 'application/json';

    export default {
        data: function () {
            return {
              tickets: []
            }
        },

        mounted: function() {
            this.fetchTickets();
        },
        updated: function() {
            this.fetchTickets();
        },
        methods: {
            fetchTickets: function() {
                const outer = this;
                axios.get('/api/tickets')
                  .then(function (response) {
                      outer.tickets = response.data;
                  })
                  .catch( function(error) {
                      console.log(error);
                  });
            },
            deleteTicket: function(id) {
                axios.delete('/api/tickets' + '/' + id);
            },
            onSuccess: function(res) {
                console.log("success: " + res);
            },
            onError: function(err) {
                console.log("error: " + err);
            }
        } //methods
    } //export
</script>

<style scoped>
    #submit-form {
      margin-top: 40px;
    }
    .panel-heading {
        overflow: hidden;
    }
    .table-tickets {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
    }

</style>
