<template>
    <div id="">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form v-on:submit.prevent="postTicket()">
                    <div class="form-group ticket-form">
                        <h2 class="text-center">Add Ticket</h2>
                        <hr />

                        <div class="form-group">
                            <label for="alias">User Alias:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-sunglasses" aria-hidden="true" id="basic-addon-userid"></span>
                                <input id="alias" v-model="ticket.user.alias" name="alias" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username">User Name:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true" id="basic-addon-user"></span>
                                <input id="name" v-model="name" name="name" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">User Email:</label>
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon-email">@</span>
                            <input id="email" v-model="ticket.user.email" name="email" type="text" class="form-control" placeholder="name@domain.com" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="area">Area:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-th" aria-hidden="true" id="basic-addon-area"></span>
                                <select id="area" v-model="ticket.area" name="area" class="form-control">
                                    <option v-for="option in areas" :key="option.id">{{ option.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="priority">Priority:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-inbox" aria-hidden="true" id="basic-addon-priority"></span>
                                <select id="priority" v-model="ticket.priority" name="priority" class="form-control">
                                    <option v-for="option in priorities" :key="option.id">{{ option.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="category">Category:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-tags" aria-hidden="true" id="basic-addon-category"></span>
                                <select id="category" v-model="ticket.category" name="category" class="form-control">
                                    <option v-for="option in categories" :key="option.id">{{ option.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="issue-title">Issue Title:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-asterisk" aria-hidden="true" id="basic-addon-issue-title"></span>
                                <input id="issue-title" v-model="ticket.title" name="issue-title" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="issue-description">Issue Description:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-star" aria-hidden="true" id="basic-addon-issue-description"></span>
                                <textarea id="issue-description" v-model="ticket.issue" name="issue-description" class="form-control" rows="3"></textarea>
                            </div>
                        </div>

                        <hr />
                        <button id="btn-submit-add-form" type="submit" class="btn btn-primary btn-block">Add</button>
                    </div><!-- end of .ticket-form -->
                </form>
            </div><!-- col -->
        </div> <!-- row -->
    </div>
</template>

<script>
    import axios  from 'axios'
    //axios.defaults.baseURL = 'http://localhost:8080';
    axios.defaults.headers.post['Content-Type'] = 'application/json';
    export default {
        data: function() {
            return {
                areas: [],
                priorities: [],
                categories: [],
                name: '',
                ticket : {
                    user : {
                        alias :    '',
                        name :     '',
                        lastname : '',
                        email :    ''
                    },
                    area :         '',
                    category :     '',
                    title:         '',
                    issue:         '',
                    priority :     '',
                    comments:      '',
                    reportedAt:    '',
                    completedAt:   ''
                },
                newTicket : {
                    title:     '',
                    issue:     '',
                    user : {
                        name :     '',
                        lastname : '',
                        alias :    '',
                        email:     ''
                    },
                    area :     '',
                    category : '',
                    priority : ''
                }
            }
        }, //data

        mounted: function() {
            this.fetchAreas();
            this.fetchPriorities();
            this.fetchCategories();
        },

        computed: {
            fullname: {
                get: function() {
                    return this.ticket.user.name + ' ' + this.ticket.user.lastname;
                },
                set: function(newVal) {
                    var names = newVal.split(' ');
                    this.ticket.user.name = names[0];
                    this.ticket.user.lastname = names[names.length - 1];
                }
            }
        },

        methods: {
            postTicket: function() {
              var token = this.name.split(' ');
              this.ticket.user.name = token[0];
              this.ticket.user.lastname = token[token.length - 1];

              const t = JSON.stringify(this.ticket);
              axios.post('/api/tickets', t)
                  .then(function (response) {
                      console.log(response);
                  })
                  .catch(function (error) {
                      console.log(error);
                  });
                  this.ticket = this.newTicket;
                  this.name = '';
            },

            fetchAreas: function() {
              const outer = this;
              axios.get('/api/areas')
                  .then(function (response) {
                      outer.areas = response.data;
                  })
                  .catch( function(error) {
                      console.log(error);
                  });
            },

            fetchPriorities: function() {
              const outer = this;
              axios.get('/api/priorities')
                  .then(function (response) {
                      outer.priorities = response.data;
                  })
                  .catch( function(error) {
                      console.log(error);
                  });
            },

            fetchCategories: function() {
              const outer = this;
              axios.get('/api/categories')
                  .then(function (response) {
                      outer.categories = response.data;
                  })
                  .catch( function(error) {
                      console.log(error);
                  });
            },

            onSuccess: function(res) {
                console.log("success: " + res);
            },

            onError: function(err) {
                console.log("error: " + err);
            }
        } //methods
    }
</script>

<style scoped>
    .form-control {
      margin-bottom: 3px;
    }

    .ticket-form {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      padding: 10px 50px 30px 50px;
      margin-top: 50px;
    }
</style>
