<template>
    <div id="">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form v-on:submit.prevent="updateTicket($route.params.id)">
                    <div class="form-group ticket-form">
                        <h2 class="text-center">Edit Ticket</h2>
                        <hr />

                        <div class="form-group">
                            <label for="alias">User Alias:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-sunglasses" aria-hidden="true" id="basic-addon-userid"></span>
                                <input id="alias" v-model.trim="ticket.user.alias" name="alias" type="text" class="form-control" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name">User Name:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true" id="basic-addon-user-name"></span>
                                <input id="name" v-model.trim="ticket.user.name" name="name" type="text" class="form-control" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lastname">User Lastname:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-tower" aria-hidden="true" id="basic-addon-user-lastname"></span>
                                <input id="lastname" v-model.trim="ticket.user.lastname" name="lastname" type="text" class="form-control" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">User Email:</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon-email">@</span>
                                <input id="email" v-model.trim="ticket.user.email" name="email" type="text" class="form-control" placeholder="name@domain.com" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="area">Area:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-th" aria-hidden="true" id="basic-addon-area"></span>
                                <select id="area" v-model.trim="ticket.area" name="area" class="form-control">
                                    <option v-for="option in areas" :key="option.id" :selected="(option.name == ticket.area)">{{ option.name }}</option>
                                </select>
                            </div>
                            <small class="text-muted">{{ ticket.area }}</small>
                        </div>

                        <div class="form-group">
                            <label for="priority">Priority:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-inbox" aria-hidden="true" id="basic-addon-priority"></span>
                                <select id="priority" v-model.trim="ticket.priority" name="priority" class="form-control">
                                    <option v-for="option in priorities" :key="option.id" :selected="(option.name == ticket.priority)">{{ option.name }}</option>
                                </select>
                            </div>
                            <small class="text-muted">{{ ticket.priority }}</small>
                        </div>

                        <div v-if="isEditable" class="form-group">
                            <label for="category">Status:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-flag" aria-hidden="true" id="basic-addon-status"></span>
                                <select id="status" v-model.trim="ticket.status" name="status" class="form-control">
                                    <option v-for="option in statuses" :key="option.id" :selected="(option.name == ticket.status)">{{ option.name }}</option>
                                </select>
                            </div>
                            <small class="text-muted">{{ ticket.status }}</small>
                        </div>

                        <div class="form-group">
                            <label for="category">Category:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-tags" aria-hidden="true" id="basic-addon-category"></span>
                                <select id="category" v-model.trim="ticket.category" name="category" class="form-control">
                                    <option v-for="option in categories" :key="option.id" :selected="(option.name == ticket.category)">{{ option.name }}</option>
                                </select>
                            </div>
                            <small class="text-muted">{{ ticket.category }}</small>
                        </div>

                        <div class="form-group">
                            <label for="issue-title">Issue Title:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-asterisk" aria-hidden="true" id="basic-addon-issue-title"></span>
                                <input id="issue-title" v-model.trim="ticket.title" name="issue-title" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="issue-description">Issue Description:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-star" aria-hidden="true" id="basic-addon-issue-description"></span>
                                <textarea id="issue-description" v-model.trim="ticket.issue" name="issue-description" class="form-control" rows="3"></textarea>
                            </div>
                        </div>

                        <div v-if="isEditable" class="form-group">
                            <label for="issue-description">Comments:</label>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-check" aria-hidden="true" id="basic-addon-issue-description"></span>
                                <textarea id="issue-description" v-model.trim="ticket.comments" name="issue-description" class="form-control" rows="3"></textarea>
                            </div>
                        </div>

                        <label class="checkbox-inline"><input type="checkbox" v-model="ticket.resolved">Mark as resolved</label>
                        <hr />
                        <button id="btn-submit-add-form" type="submit" class="btn btn-primary btn-block">Update</button>
                    </div><!-- end of .ticket-form -->
                </form>
            </div><!-- col -->
        </div> <!-- row -->
    </div>
</template>

<script>
    import axios  from 'axios'
    //axios.defaults.baseURL = 'http://localhost:8080';
    axios.defaults.headers.post['Content-Type'] = 'application/json';
    export default {
        data: function() {
            return {
                areas: [],
                priorities: [],
                statuses: [],
                categories: [],
                isEditable: true,
                name: '',
                ticket : {
                    title:      '',
                    issue:      '',
                    user: {
                        name :     '',
                        lastname : '',
                        alias :    '',
                        email :    ''
                    },
                    area:        '',
                    status:      '',
                    category:    '',
                    priority:    '',
                    comments:    '',
                    reportedAt:  '',
                    completedAt: '',
                    resolved: false
                }
            }
        }, //data
        created: function() {
            this.fetchTicket(this.$route.params.id);
            this.fetchAreas();
            this.fetchPriorities();
            this.fetchStatuses();
            this.fetchCategories();
        },
        mounted: function() {
            this.fetchTicket(this.$route.params.id);
            this.fetchAreas();
            this.fetchPriorities();
            this.fetchStatuses();
            this.fetchCategories();
        },

        computed: {
            fullname: {
                get: function() {
                    return this.ticket.user.name + ' ' + this.ticket.user.lastname
                },
                set: function(newVal) {
                    var names = newVal.split(' ')
                    this.ticket.user.name = names[0]
                    this.ticket.user.lastname = names[names.length - 1]
                }
            }
        },

        methods: {
            fetchTicket: function(id) {
                var outer = this;
                axios.get('/api/tickets/' + id)
                    .then(function (response) {
                        outer.ticket = response.data;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            updateTicket: function(id) {
                var token = this.name.split(' ');
                this.ticket.user.name = token[0];
                this.ticket.user.lastname = token[token.length - 1];

                this.ticket.id = id;
                const t = JSON.stringify(this.ticket);
                console.log(this.ticket);
                const config = { headers:{'Content-Type': 'application/json; charset=utf-8'} };
                axios.put('/api/tickets/' + id, t, config)
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            fetchAreas: function() {
              const outer = this;
              axios.get('/api/areas')
                  .then(function (response) {
                      outer.areas = response.data;
                  })
                  .catch( function(error) {
                      console.log(error);
                  });
            },
            fetchStatuses: function() {
              const outer = this;
              axios.get('/api/statuses')
                  .then(function (response) {
                      outer.statuses = response.data;
                  })
                  .catch( function(error) {
                      console.log(error);
                  });
            },
            fetchPriorities: function() {
              const outer = this;
              axios.get('/api/priorities')
                  .then(function (response) {
                      outer.priorities = response.data;
                  })
                  .catch( function(error) {
                      console.log(error);
                  });
            },
            fetchCategories: function() {
              const outer = this;
              axios.get('/api/categories')
                  .then(function (response) {
                      outer.categories = response.data;
                  })
                  .catch( function(error) {
                      console.log(error);
                  });
            },
            onSuccess: function(res) {
                console.log("success: " + res);
            },
            onError: function(err) {
                console.log("error: " + err);
            }
        } //methods
    }
</script>

<style scoped>
    .form-control {
      margin-bottom: 3px;
    }

    .ticket-form {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      padding: 10px 50px 30px 50px;
      margin-top: 50px;
    }
</style>
