<template>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron">
                <h1>{{ header }}</h1>
            </div>
        </div><!-- col -->
    </div> <!-- row -->
</template>

<script>
export default {
  data: function () {
    return {
      header: 'Users'
    }
  }
}
</script>

<style>

</style>
